<%- include('includes/head') %>

    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <li class="header__nav--item"><a href="/" class="header__nav--link">Shop</a></li>
          <li class="header__nav--item"><a href="/admin/add-product" class="header__nav--link">Add product</a></li>
        </nav>
      </div>
    </header>

    <main class="container">
      <h1 class="mt-5">Add products</h1>
      <form class="formulario" action="/admin/products" method="post">
        <div class="formulario__grupo">
          <label class="formulario__label" for="title">Title</label>
          <input class="formulario__control" type="text" id="title" name="title">
        </div>
        <button type="submit">Add product</button>
      </form>
    </main>
  </body>

<%- include('includes/footer') %>