<%- include('includes/head') %>
  <%- include('includes/navigate') %>
    <main class="container">
      <h1 class="mt-5">Opps! Internal Server Error 500</h1>
      <p class="errorMessage"> <%= errorMessage %> </p>
    </main>
  </body>
  <%- include('includes/footer') %>