<%- include('includes/head') %>
  <%- include('includes/navigate') %>
    <main class="container">
      <h1 class="mt-5">Opps! Page 404</h1>
      <p>The page not exist, please <a href="/">go to shop</a>.</p>
    </main>
  </body>
  <%- include('includes/footer') %>