<%- include('includes/head') %>

    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <li class="header__nav--item"><a href="/" class="header__nav--link">Shop</a></li>
          <li class="header__nav--item"><a href="/admin/add-product" class="header__nav--link">Add product</a></li>
        </nav>
      </div>
    </header>

    <main class="container">
      <h1 class="mt-5">Opps! Page 404</h1>
      <p>The page not exist, please go to shop.</p>
    </main>
  </body>

  <%- include('includes/footer') %>